/myenv
/devenv
/qaenv
/venv
/.venv
__pycache__/
*.pyc
.env.dev
.env.prod
*.env
api/emailsend/token.json
api/emailsend/credentials.json
media/


/custom_models/migrations/*.py
!/custom_models/migrations/__init__.py

error_log.txt
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal

# Logs
logs/
*.log
staticfiles/

.env
*.env
credentials.json
version2/credentials.json

__pycache__/
*.pyc
venv/
env/

node_modules/

*.log

sqlfiles/mockdata/*.sql



